.first
{
    width: 90vw;
    height: 25vh;
    margin-left: 65px;
}
.img-list-first
{
    height: 130px;
    width: 130px;
    border-radius: 50% ;
    margin-left: 30px;
}
.container,.container2
{
    height: 62vh;
    width: 90vw;
    border-radius: 15px;
    display: flex;
    background-color: white;
    margin-left: 100px;
    margin-top: 50px;
}
.container2{
    margin-top: 50px;
}
.offer
{
    background-color: rgb(190, 255, 232);
    height: 20px;
    width: 140px;
    padding-left: 10px;
    margin-top: -10px;
    color: black;
}
.rating
{
    background-color: rgb(171, 255, 176);
    height: 20px;
    width: 40px;
    padding-left: 10px;
    margin-top: 5px;
    color: black;
}
.food1
{
    height: 300px;
    width:280px;
    margin-right: 50px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.167);
    background-color: white;
}
.food1:hover,.food2:hover,.food3:hover{
    background-color: rgba(227, 227, 227, 0.55);
}
.list-img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.food2
{
    height: 300px;
    width:280px;
    margin-right: 50px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.167);
    background-color: white;
}
.food3
{
    height: 300px;
    width:280px;
    margin-right: 50px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.167);
    background-color: white;
}
.title
{
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

.para
{
    margin-top: -15px;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}