*{
    margin: 0px;
}
.container
{
    height: 200vh;
    width: 100vw;
    background-color: yellow;
}

.upper
{
    height: 100vh;
    width: 100vw;
    background-color: green;
}

.lower
{
    height: 100vh;
    width: 100vw;
    background-color: white  ;
}

img{
    height: 100vh;
    width: 100vw;
    position: absolute;
}

ul{
    position: relative;
    display: flex;
    list-style-type: none;
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}
li{
    color: white;
    margin-right: 50px;
    font-size: 17px;
    letter-spacing: 1px;
}
h1,.upper pre{
    color: white;
    position: relative;
}

h1{
    padding-top: 220px;
    padding-left: 500px;
    font-size: 70px;
}
.upper pre{
    padding-top: 30px;
    padding-left: 150px;
    font-size: xx-large;
}

.lower{
    position: absolute;
}

.lower h2{
    padding-left: 450px;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lower pre{
    position: relative;
    font-size:large;
    padding-top: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 200px;
    color: grey;
}

.locations
{
    height: 100px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.locations #first , #second , #third
{
    margin-top: 20px;
    height: 60px;
    width: 300px;
    background-color: white;
    border: 1px rgb(218, 213, 213) solid;
}

.locations pre{
    color: black;
    margin-left: -170px;
    margin-top: -10px;
}

.locations a{
    text-decoration: none;
}

.lower a {
    position: relative;
    color: green;
}

.buy
{
    position: relative;
  
    background-color: rgba(77, 255, 0, 0.548);
    width: 15vw;
    height: 10vh;
    margin-left: 500px;
    margin-top: 50px;
    border-radius: 5px;
}

.buy-now
{
    padding-left: 3rem;
    padding-top: 1rem;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}
a{
    text-decoration: none;
}

.buy:hover{
    background-color: rgb(77, 255, 0);
 
}

.buy-now:hover{
    color: rgb(0, 0, 0);
}